<section id="steps" class="steps padding-section d-flex justify-content-between p-5">
    <div class="title-section-text--secondary">
        <p class="fw-bold">How to get our service?</p>
        <p class="fs-3">Just follow these simple steps</p>   
    </div>

    <ul class="d-flex normal-text fw-bold">
       <li>
        <img src="assets/images/call-icon.png" alt="Icon Call">
         <p>Call for <br> appoinment </p>
       </li>
       <li>
        <img src="assets/images/date-icon.png" alt="Icon Date">
            <p>Get a <br> Date & Serial</p>
        </li>
       <li>
            <img src="assets/images/agent-icon.png" alt="Icon Consult">
            <p>Consult <br> Your dentist</p>
        </li> 
    </ul>
</section>
