<section id="history" class="history padding-section">
    <div class="title-section d-flex justify-content-between title-section-text">
        <p class="fw-bold">{{'Who'| uppercase}} <span class="title-section-text--secondary">{{'We Are' | uppercase}}</span></p>
        <p>Our Glorious <br><span class="fw-bold">History</span></p>
    </div>
    <div class="content-section d-flex justify-content-between">
        <img src="assets/images/image-section-2.png" alt="Image History">
        <div>
            <p class="fs-3">Our history</p>
            <p class="normal-text">
                Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990 under the hands of Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics dental center has been leading the way in dental treatment in USA for more than 30 years in keeping with the evolution of time and the modernization of the era.

            </p>
        </div>
    </div>
</section>
