<nav class="navbar navbar-expand-lg content">
    <div class="container-fluid">
      
      <a class="navbar-brand text-logo" href="#">
        <img class="navbar-brand w-25" src="assets/images/logo.png" alt="Dentics Logo">
        Dentics
      </a>
      <button  class="navbar-toggler" type="button" (click)="toggleNavbar()"aria-expanded="false" 
      aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" #navbarCollapse id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active normal-text hover--text " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link normal-text hover--text" (click)="closeNavbar()" href="#services-provided">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link normal-text hover--text" (click)="closeNavbar()" href="#history">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link normal-text hover--text" (click)="closeNavbar()" href="#subscription-news">Register</a>
          </li>
        </ul>
        <button class="btn button-primary" (click)="closeNavbar()" type="submit"><a href="#appoinment" class="white">Appointment</a></button>
      </div>
    </div>
</nav>
