<section class="hero-section d-flex justify-content-between py-5 ">
    <div class="d-flex flex-column gap-3 justify-content-center">
        <p class="title-text">We Provide High 
           <br> Quality <span class="title-text--secondary">Dental</span> Services
        </p>
        <p class="normal-text">
            Appropriately embrace transparent 
            materials via <br> turnkey niche markets. 
        </p>
        <div class="d-flex gap-4">
            <button class="btn button-primary" type="submit"><a class="two fw-bold" href="#steps">Get Started</a></button>
            <button class="btn button-secondary" type="submit"><a class="one fw-bold" href="#special-features">Learn More </a></button>
        </div>
    </div>
    <div>
        <img class="w-100" src="assets/images/main-image.png" alt="">
    </div>
</section>
