<section id="special-features" class="special-features padding-section">
    <div class="title-section d-flex justify-content-between title-section-text">
        <p>What Makes Us More <br><span class="fw-bold">Special</span></p>
        <p class="fw-bold">{{'Key'| uppercase}} <span class="title-section-text--secondary">{{'Feature' | uppercase}}</span></p>
    </div>
    <div class="container mt-4">
        <div class="row">
          <!-- Tarjeta 1 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card">
              <img src="assets/images/feature-1.png" class="card-img-top" alt="Doctor 1">
              <div class="card-body">
                <h5 class="card-title">Laser Technology</h5>
                <p class="card-text">
                    Worlds most advanced Diode Laser. 
                    Your treatment experience will be 
                    relaxing & smooth.
                </p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta 2 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card">
              <img src="assets/images/feature-2.png" class="card-img-top" alt="Doctor 2">
              <div class="card-body">
                <h5 class="card-title">Painless Injection</h5>
                <p class="card-text">
                    Only dental clinic in New York, USA utilising Painless 
                    Injection system. You will be amazed!
                </p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta 3 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card">
              <img src="assets/images/feature-3.png" class="card-img-top" alt="Doctor 3">
              <div class="card-body">
                <h5 class="card-title">Dental  Implant</h5>
                <p class="card-text">
                    30+ years of experience in Dental 
                    Implant with specialist care. 
                    You will be able to chew properly 
                    again!
                </p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta 4 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card">
              <img src="assets/images/feature-4.png" class="card-img-top" alt="Doctor 4">
              <div class="card-body">
                <h5 class="card-title">3D Dental Scanner </h5>
                <p class="card-text">
                    One of the world’s most advanced 3D 
                    Dental Scanner with auto scanning only 
                    one in New York!
                </p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta 5 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card h-100">
              <img src="assets/images/feature-5.png" class="card-img-top" alt="Doctor 5">
              <div class="card-body">
                <h5 class="card-title">Digital Smile Design</h5>
                <p class="card-text">
                    We help to re-design your smile 
                    and shape your teeth to create a 
                    customised smile for your face!
                </p>
              </div>
            </div>
          </div>
      
          <!-- Tarjeta 6 -->
          <div class="card-content col-md-4 mb-4">
            <div class="card">
              <img src="assets/images/feature-6.png" class="card-img-top" alt="Doctor 6">
              <div class="card-body">
                <h5 class="card-title">Crown and Bridge</h5>
                <p class="card-text">
                    Transform you blackish gum to pinkish 
                    colour with painless, 
                    single appointment Laser Gum Treatment
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
