<section id="services-provided" class="services-provided padding-section">
    <div class="title-section d-flex justify-content-between align-items-center">
        <p class="fw-bold title-section-text">
            Always 
            <span class="title-section-text--secondary">Lough</span><br>
            Whenever Its Possible
        </p>
        <p class="text-normal">
            We also offer treatments that improve the appearance of your smile <br> 
            giving you the confidence boost you deserve. The process or our <br> 
            treatment below.
        </p>
    </div>
    <div class=" content-section d-flex justify-content-between">
        <img src="assets/images/image-section-1.png" alt="Imagen Doctor">
        <div class="fw-bold">
            <p>{{"What we provide" | uppercase}}</p>
            <div class="d-flex">
                <ul>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Check ups</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Cosmetic dentistry</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Orthodontics</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Preventative checks</li>
                </ul>
                <ul>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Emergencies</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Dental implants</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Children’s dentistry</li>
                    <li><img src="assets/images/list-icon.png" alt="Icono">Telephone consultations</li>
                </ul>
            </div>
        </div>
    </div>
</section>
