<footer class="d-flex flex-column">
    <div class="contact-info p-5">
        <ul class="list-main d-flex justify-content-between">
            <li class="d-flex flex-column gap-3">
                <a class="fs-3 " href="#">
                    <img src="assets/images/logo-v2.png" alt="Logo Dentics">
                    Dentics
                </a>
                <p class="normal-text--secondary fw-light">
                    Dentics is a well-known name in <br> dental and oral care in New <br> York. The journey of this <br> institution started in 1990
                </p>
            </li>
            <li class="normal-text--secondary ">
                <p class="fw-light">We are welcoming you</p>
                <p class="fs-4">Want to visit
                    <br>our clinic?</p>
                <p class="fw-light">Saturday - Thrusday</p>
                <p class="fw-light">10 am- 9 pm</p>
            </li>
            <li class=" d-flex flex-column gap-3 normal-text--secondary fw-light">
                Important links
                <div class="d-flex gap-5">
                    <div class="d-flex flex-column gap-2">
                        <a href="#">Facebook</a>
                        <a href="#">X</a>
                        <a href="#">Instagram</a>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <a href="#">Career</a>
                        <a href="#">Support</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
 
            </li>
            <li class="normal-text--secondary fw-light">
                <p>Say hello to us</p>
                <p>hello@reallygreatsite.com</p>
                <p>Address</p>
                <p>123 Anywhere St., Any <br> City, NY 39200</p>
            </li>
        </ul>
    </div>
    <div class="rights text-center">
        <p class="normal-text--secondary">© 2001-2022, All Rights Reserved.</p>
    </div>
</footer>