<section class="suggestion padding-section">
    <div class="title-section-text--secondary d-flex flex-column align-items-center gap-3">
        <p><span class="fw-light">Let Us Brighten </span><span class="fw-bold">Your Smile!</span><p>
        <p class="normal-text--secondary">
            Helping patients achieve good dental health & beautiful smile 
            is a privilege & responsibility. For over 30 years, we proudly 
            provided the best dental experience in New York. 
            Our comfort-first approach is designed to meet the needs of you & 
            your entire family.
        </p>
        <button class="btn button-fifth" type="submit"><a class="normal-text--secondary" href="#appoinment">Make An Appointment</a></button>   
    </div>
</section>
