.suggestion{
    margin: 0 -5rem;
    background-color: var(--color-primary);
    a{
        text-decoration: none;
    }
    button{
        &:hover{
            a{
                color: var(--text-primary);
            }
        }
    }
    div{
        padding: 5rem 10rem;
    }
}

@media screen and (max-width: 768px) {
    .suggestion{
        margin: 0;
        div{
            padding: 5rem 2rem;
        }
    }
}